-if @project.accepting_pledges?
  -form_for Pledge.new(:bounty_id => @project.bounty.id) do |f|
    %p
      =f.hidden_field :bounty_id
      Pledge:
      -[.01, .05, .5].each do |p| 
        %input{:type => 'submit', :value => p.to_i, :name => 'pledge[amount]'}
