=render :partial => "#{@project.status}_status"

=render :partial => 'funding_options'

%ul
  -@project.bounty.pledges.each do |pledge|
    %li="#{points pledge.amount} from #{pledge.user.name} on #{pledge.created_at}"